<div class="page account content__wrapper" data-view="account">
  <%= render partial: 'spree/shared/account_nav', locals: { home: false } %>
  <div class="account__main">
    <div id="socialannex_dashboard"></div>
  </div>
</div>
<% if current_spree_user.present? %>
<script type="text/javascript">
  var sa_uni = sa_uni || [];
  var sa_emailid = "<%= current_spree_user.email %>";
  sa_uni.push(['sa_pg', '5']);
  (function() { function sa_async_load(){
    var sa = document.createElement('script');
    sa.type = 'text/javascript';
    sa.async = true;
    sa.src = '//cdn.socialannex.com/partner/<%= Rails.application.secrets.annex_cloud_site_id %>/universal.js'; var sax = document.getElementsByTagName('script')[0]; sax.parentNode.insertBefore(sa, sax);
  }
  if (window.attachEvent) {
    window.attachEvent('onload', sa_async_load());
  } else {
    window.addEventListener('load', sa_async_load(),false); }
  })();
</script>
<% end %>
